@import '../theme.less';

.CodeMirror {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30px;
  max-height: 204px;
  text-indent: 0;
  line-height: 1.8;
  transition: all .3s 0s;
  font-size: 14px;
  background-color: @code-background-color;
  border-radius: 4px;
  font-feature-settings: "tnum","tnum","tnum";
  display: inline-block;
  font-variant: tabular-nums;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;

  .formula-tag {
    background: @theme-color;
    color: white;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 2px 4px;
    margin: 0 2px;
  }
}

.CodeMirror-focused {
  box-shadow: none;
  outline: none;
  background-color: @code-background-color;
  border: 1px solid @theme-color;
}

.CodeMirror-scroll{
  height: auto;
  min-height: 30px;
  max-height: 204px;
}

.CodeMirror-cursor {
  border-left: 1px solid #126;
  border-right: none;
  width: 1px;
  height: 20px !important;
  line-height: 20px;
}