@import '../theme.less';

.formula-editor {
  code{
    display: block;
    font-size: 12px;
    background-color: @code-background-color;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 24px;
    white-space: pre-wrap;
  }

  svg{
    color: @icon-color
  }

  display: flex;
  height: 100%;

  &-layout{
    width: 100%;
    h2{
      font-size: 16px;
      line-height: 1.375em;
      color: @first-text-color;

      &:nth-child(1){
        display: inline-block;
        margin: 0 6px 8px 0;
      }
    }
  }
   &-error{
      height: 20px;
      margin: 0 0 3px 0;
      font-size: 12px;
      color: @error-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span{
        margin: 0 0 0 3px;
        vertical-align: middle;
      }

      svg{
        color: @error-color
      }
    }

    &-content-layout{
      height: 381px;
      display: flex;
      flex-direction: row;
      margin: 0 -24px;
    }

    &-select-panel-layout{
      position: relative;
      height: 100%;
      width: 218px;
      border-right: 1px solid #F1F3F9;
      overflow: hidden;

      h3{
        color: @third-text-color;
        font-size: 12px;
        line-height: 32px;
        height: 32px;
        margin: 4px 0 0;
        padding: 0 24px;
      }

      &-list-item{
        width: 100%;
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 9px;
        margin: 0 16px;

        span{
          display: block;
          &:nth-child(1){
            margin: 0 5px 0 0;
            font-size: 16px;
          }

          &span:nth-child(2){
            flex: 1 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &:hover{
          background-color: @code-background-color;
          overflow-y: auto;
          border-radius: 2px;
        }
      }

      &-list-item-active{
        background-color: @code-background-color;
        overflow-y: auto;
      }

      &:hover{
        overflow-y: auto;
      }
    }

    &-description-layout{
      height: 100%;
      width: 300px;
      margin: 0 24px 0 16px;
      padding: 0 8px 0 0;
      flex-grow: 1;
      overflow: hidden;

      h2{
        font-size: 16px;
        line-height: 1.375em;
        color: @first-text-color;
      }

      &-description{
        display: flex;
        flex-direction: column;
        color: @second-text-color;
        margin-bottom: 24px;
        font-size: 12px;
        white-space: pre-wrap;
      }

      &-description-useage{
        font-size: 14px;
        margin: 0 0 4px 0;
      }

      &-description-example{
        font-size: 14px;
        margin: 0 0 4px 0;
      }

     &:hover{
      overflow-y: auto;
    }
  }
}
