@import '../theme.less';

@toolbarWidth: 240px;

.formula-editor {
  display: flex;
  height: 100%;
  &-toolbar {
    width: @toolbarWidth;
    height: 560px;
    overflow-y: auto;
    border-right: 1px solid red;
  }
  &-main {
    height: 100%;
    padding: 8px 16px;
    width: calc(100% - @toolbarWidth);
   
  }


  &-layout{
    width: 100%;
    h2{
      font-size: 16px;
      line-height: 1.375em;
      color: @first-text-color;
    }
    .CodeMirror {
      position: relative;
      width: 100%;
      height: 38px;
      max-height: 204px;
      text-indent: 0;
      padding: 8px 5px;
      line-height: 1.5;
      transition: all .3s 0s;
      font-size: 13px;
      background-color: @code-background-color;
      border-radius: 4px;
      font-feature-settings: "tnum","tnum","tnum";
      display: inline-block;
      font-variant: tabular-nums;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      -webkit-user-modify: read-write-plaintext-only;

      &:focus{
        box-shadow: none;
        border-color: #7b67ee !important;
        outline: none;
        background-color: @code-background-color;
      }
    
      .formula-tag {
        background: red;
        color: white;
        border-radius: 4px;
        font-size: 0.8em;
        padding: 2px 4px;
        margin: 0 2px;
      }
    }
  }
   &-error{
      height: 20px;
      margin-bottom: 3px;
      font-size: 12px;
      color: @error-color;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-content-layout{
      height: 367px;
      display: flex;
      flex-direction: row;
      // margin: 0 -24px;
    }

    &-select-panel-layout{
      position: relative;
      height: 100%;
      width: 218px;
      border-right: 2px solid @code-background-color;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: auto;

      h3{
        color: @third-text-color;
        font-size: 12px;
        line-height: 32px;
        height: 32px;
        padding: 0 24px;
        margin: 4px 0 0;
      }

      &-list-item{
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover{
          background-color: @code-background-color;
        }
      }
    }

    &-description-layout{
      height: 100%;
      width: 300px;
      padding: 0 12px 0 16px;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: scroll;

      h2{
        font-size: 16px;
        line-height: 1.375em;
        color: @first-text-color;
      }

      &-description{
        display: flex;
        flex-direction: column;
        color: @third-text-color;
        margin-bottom: 24px;
        font-size: 12px;
        white-space: pre-wrap;
      }
      &-description-useage{
        font-size: 14px;
        margin: 0 0 4px 0;
      }
    }
}

  // .CodeMirror {
  //   border: 1px solid pink;
  //   height: 120px;
  //   font-size: 20px;
  //   .formula-tag {
  //     border-radius: 4px;
  //     font-size: 0.8em;
  //     padding: 2px 4px;
  //     margin: 0 2px;
  //   }
  // }


.formula-editor-code-mirror{
  &focus{
  background-color: red;

  }
}