@first-text-color: #3C4152;
@second-text-color: #6E7080;
@third-text-color: #A5A7B7;
@icon-color: #8D91B2;
@code-background-color: #F2F5FC;
@error-color: #E95F60;
@theme-color: #377AFF;
@tag-color: #E1F6DF;
@tag-font-color: #1B992F;