@first-text-color: #3C4152;
@third-text-color: #A5A7B7;
@icon-color: #8D91B2;
@code-background-color: #F2F5FC;
@error-color: #E95F60;
@theme-color: #377AFF;

code{
  display: block;
  font-size: 12px;
  background-color: @code-background-color;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 24px;
  white-space: pre-wrap;
}

svg{
  color: @icon-color
}