@border-color-base: #126;
@black: black;
@primary-6: red;
@white: white;
@primary-1: pink;

@first-text-color: #262626;
@third-text-color: #8c8c8c;
@code-background-color: #f5f7fa;
@error-color: #e33e38;